<div class = "navbar">
    <ul class = "nav-list">
        <li class = "nav-item">
            <a class = "nav-link" href = "home">
                <img id = "logo" src = '../../assets/translation-icon.png'>
            </a>
        </li>
        <li class = "nav-item">
            <a class = "nav-link" href = "roster">
                Team
            </a>
        </li>
        <li class = "nav-item">
            <a class = "nav-link" href = "secret">
                Secret
            </a>
        </li>
        <!-- <li class="nav-item">
            <button id="add-button" (click)= "navigateLogin()">Login</button>
        </li> -->
    </ul>
</div>