<section id="camera-area">
  <div id="drop-area">
    <form class="my-form">
      <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
      <label class="button" for="fileElem">Select image</label>
    </form>

    <div id="gallery"></div>

  </div>
<form id = "translation" (ngSubmit)="onSubmit()">
  <div class = "input-div">
      <label for="text"> Text:</label>
      <input id="text" name="text" type = "text" required [(ngModel)] = "textToTranslate">
  </div>
  <div class = "input-div">
    <label for="language"> Language:</label>
    <input id="language" name="language" type = "text" required [(ngModel)] = "endLanguageCode">
  </div>

  <div class = "input-div">
    <label for="image-url">Image:</label>
    <input id="image-url"  name="image-url" type = "text" >
  </div>
  
  <div class = "input-div">
    <select name="cars" id="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>
    
  <!-- <input type = "submit" value = "translation"/> -->
</form>
  <div id="translation-card" style="display:none"></div>

  <button id="translate-button" input type = "submit" value = "translation">TRANSLATE</button>
</section>

